<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin"
    id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
        <div class="m-stack m-stack--hor m-stack--desktop">
            <div class="m-stack__item m-stack__item--fluid">
                <div class="m-login__wrapper">
                    <div class="m-login__logo">
                        <a href="#">
                            <img src="./assets/app/media/img/logos/sc2.png">
                        </a>
                    </div>
                    <div class="m-login__signin">
                        <div class="m-login__head">
                            <h3 class="m-login__title">
                                Sign In
                            </h3>
                        </div>
                        <form (ngSubmit)="f.form.valid && signin()" #f="ngForm" class="m-login__form m-form" action="">
                            <ng-template #alertSignin></ng-template>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="text" placeholder="Username" name="username"
                                    [(ngModel)]="model.userName" #username="ngModel" autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input m-login__form-input--last" type="password"
                                    placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel">
                            </div>
                            <div class="m-login__form-action">
                                <button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"
                                    id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                    Sign In
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content"
        style="background-image: url(./assets/app/media/img//bg/bg-4.jpg)">
        <div class="m-grid__item m-grid__item--middle">
            <h2 class="m-login__welcome">
                <img src="./assets/app/media/img/logos/sc2.png" style="margin-right: 10px;">
                Survey Composer
            </h2>
        </div>
    </div>
</div>