<!-- <pre>{{ page | json }}</pre> -->
<div>
    <div [formGroup]="pageForm">
        <div class="row">
            <div class="col-md-10 form-group">
                <input type="text" formControlName="pageTitle" [(ngModel)]="page.title" class="form-control">
            </div>
            <div class="col-md-2 form-group">
                <button type="button" class="btn btn-danger btn-block" (click)="delete();">Delete Page</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 form-group">
                <button type="button" data-toggle="modal" data-target="#add_question_modal" class="btn btn-primary btn-block">
                    Add Questions
                </button>
            </div>
            <div class="col-md-2 form-group">
                <button type="button" data-toggle="modal" data-target="#search_questions_modal" class="btn btn-primary btn-block">
                    Search Questions
                </button>
            </div>
        </div>
        <div class="m-content" *ngIf="page">
            <div class="row" *ngFor="let section of page?.children; let i = index;">
                <div class="col-md-12 m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon">
                                    <i class="flaticon-info"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Question {{i + 1}}
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <ng-select style="width: 200px;" [clearable]="false" [(ngModel)]="section.displayType"
                                        [ngModelOptions]="{standalone: true}">
                                        <ng-option [value]="0">Slider</ng-option>
                                        <ng-option [value]="1">Checkbox</ng-option>
                                        <ng-option [value]="2">Radiobutton</ng-option>
                                        <ng-option [value]="3">Dropdown</ng-option>
                                        <ng-option [value]="4">Textbox</ng-option>
                                    </ng-select>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <button type="button" [disabled]="section.displayType == 0" class="btn btn-primary"
                                        (click)="assignSection(section)" data-toggle="modal" data-target="#add_answers_modal">
                                        Add Answers
                                    </button>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <button type="button" data-toggle="modal" data-target="#search_answers_modal" class="btn btn-primary"
                                        (click)="assignSection(section)">
                                        Search Answers
                                    </button>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <button type="button" class="btn btn-info" (click)="moveDown(section)">&darr;</button>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <button type="button" class="btn btn-info" (click)="moveUp(section)">&uarr;</button>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <button type="button" class="btn btn-danger" (click)="deleteSection(section)">&times;</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div *ngIf="section.qa">
                            <app-question-display [section]="section"></app-question-display>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- BEGIN: Add Question Modal -->
<div class="modal fade" id="add_question_modal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Add a question
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addQuestionForm" (ngSubmit)="addQuestion()" [formGroup]="addQuestionFormGroup">
                    <div class="form-group">
                        <label for="question-text" class="form-control-label">
                            Text:
                        </label>
                        <textarea class="form-control" id="question-text" formControlName="text"></textarea>
                    </div>
                    <div *ngIf="labels?.length > 0" class="form-group">
                        <label for="labels" class="form-control-label">
                            Labels:
                        </label>
                        <ng-select [items]="labels" [multiple]="true" [closeOnSelect]="false" bindLabel="labelText"
                            placeholder="Select labels" formControlName="labels">
                        </ng-select>
                    </div>
                    <div *ngIf="qcats?.length > 0" class="form-group">
                        <label for="Category" class="form-control-label">
                            Category:
                        </label>
                        <ng-select [items]="qcats" bindLabel="categoryName" bindValue="questionCategoryId" placeholder="Select the category"
                            formControlName="qcategory">
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label for="question-description" class="form-control-label">
                            Description:
                        </label>
                        <input type="text" class="form-control" id="question-description" formControlName="description">
                    </div>
                    <div class="form-group">
                        <label for="question-comment" class="form-control-label">
                            Comment:
                        </label>
                        <input type="text" class="form-control" id="question-comment" formControlName="comment">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" [disabled]="addQuestionsPressed" class="btn btn-primary" form="addQuestionForm">
                    Add question
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END: Add Question Modal -->
<!-- BEGIN: Search Question Modal -->
<div class="modal fade" id="search_questions_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchQuestionsModalLabel">
                    Search and pick your questions
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="questionsSearchForm" [formGroup]="questionsSearchForm" (ngSubmit)="searchQuestions()">
                    <!-- Text -->
                    <div class="form-group">
                        <label for="search-text" class="form-control-label">
                            Terms:
                        </label>
                        <tag-input formControlName="searchTerms" [editable]='true' placeholder="+ Terms"
                            secondaryPlaceholder="Enter terms"></tag-input>
                    </div>
                    <!-- Categories -->
                    <div *ngIf="qcats && qcats.length > 0" class="form-group">
                        <label for="Category" class="form-control-label">
                            Categories:
                        </label>
                        <ng-select [items]="qcats" [multiple]="true" [closeOnSelect]="false" bindLabel="categoryName"
                            bindValue="questionCategoryId" placeholder="Select the categories or leave empty"
                            formControlName="categoriesIds">
                        </ng-select>
                    </div>
                    <!-- Labels -->
                    <div *ngIf="labels && labels.length > 0" class="form-group">
                        <label for="labels" class="form-control-label">
                            Labels:
                        </label>
                        <ng-select [items]="labels" [multiple]="true" [closeOnSelect]="false" bindLabel="labelText"
                            bindValue="labelId" placeholder="Select labels or leave empty" formControlName="labels">
                        </ng-select>
                    </div>
                    <div class="row form-group">
                        <div class="col-2">
                            <button type="submit" [disabled]="searchQuestionsPressed" class="btn btn-primary btn-block"
                                form="questionsSearchForm">
                                Search
                            </button>
                        </div>
                        <div class="col-2">
                            <button [disabled]="!(questionsSearchResult && questionsSearchResult.length)" type="button"
                                class="btn btn-primary btn-block" (click)="selectAllQuestionsFromSearch()">
                                Select all
                            </button>
                        </div>
                        <div class="col-2">
                            <button [disabled]="!(questionsSearchResult && questionsSearchResult.length)" type="button"
                                class="btn btn-primary btn-block" (click)="unselectAllQuestionsFromSearch()">
                                Unselect all
                            </button>
                        </div>
                    </div>
                </form>
                <div *ngIf="questionsSearchResult?.length" class="questions-search-results">
                    <div>
                        <h6>Results: </h6>
                    </div>
                    <div class="row align-items-center translation-display" *ngFor="let result of questionsSearchResult; let i = index;"
                        (click)="toggleQuestionTranslation(result)">
                        <div class="col-md-1 align-self-center">
                            <input [(ngModel)]="result.checked" type="checkbox" name="{{ 'ck' + i }}" id="{{ 'ck' + i }}">
                        </div>
                        <div class="col-md-11" style="border-bottom: 1px dashed gray">
                            <span style="word-wrap: break-word">{{ result.translation.text }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button [disabled]="!(questionsSearchResult && questionsSearchResult.length)" type="button" class="btn btn-primary"
                    (click)="addQuestionsFromSearch()">
                    Pick these questions
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END: Search Question Modal -->
<!-- BEGIN: Add Answer Modal -->
<div class="modal fade" id="add_answers_modal" tabindex="-1" role="dialog" aria-labelledby="addAnswerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Add answer
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addAnswerForm" (ngSubmit)="addAnswer()" [formGroup]="addAnswerFormGroup">
                    <div class="form-group">
                        <label for="answer-text" class="form-control-label">
                            Text:
                        </label>
                        <textarea class="form-control" id="answer-text" formControlName="text"></textarea>
                    </div>
                    <div *ngIf="qcats?.length > 0" class="form-group">
                        <label for="Category" class="form-control-label">
                            Category:
                        </label>
                        <ng-select [items]="acats" bindLabel="categoryName" bindValue="answerCategoryId" placeholder="Select the category"
                            formControlName="acategory">
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label for="answer-description" class="form-control-label">
                            Description:
                        </label>
                        <input type="text" class="form-control" id="answer-description" formControlName="description">
                    </div>
                    <div class="form-group">
                        <label for="answer-comment" class="form-control-label">
                            Comment:
                        </label>
                        <input type="text" class="form-control" id="answer-comment" formControlName="comment">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" [disabled]="addAnswersPressed" class="btn btn-primary" form="addAnswerForm">
                    Add answer
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END: Add Answer Modal-->
<!-- BEGIN: Search Answer Modal -->
<div class="modal fade" id="search_answers_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchAnswersModalLabel">
                    Search and pick your answers <span style="color: palevioletred; font-weight: bold" *ngIf="currentSection">{{
                        '[Question ' + (currentSection.sectionNumber + 1) + ']' }}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="answersSearchForm" [formGroup]="answersSearchForm" (ngSubmit)="searchAnswers()">
                    <!-- Text -->
                    <div class="form-group">
                        <label for="search-text" class="form-control-label">
                            Terms:
                        </label>
                        <tag-input formControlName="searchTerms" [editable]='true' placeholder="+ Terms"
                            secondaryPlaceholder="Enter terms"></tag-input>
                    </div>
                    <!-- Categories -->
                    <div *ngIf="acats && qcats?.length > 0" class="form-group">
                        <label for="Category" class="form-control-label">
                            Categories:
                        </label>
                        <ng-select [items]="acats" [multiple]="true" [closeOnSelect]="false" bindLabel="categoryName"
                            bindValue="answerCategoryId" placeholder="Select the categories or leave empty"
                            formControlName="categoriesIds">
                        </ng-select>
                    </div>
                    <div class="row form-group">
                        <div class="col-2">
                            <button type="submit" [disabled]="searchAnswersPressed" class="btn btn-primary btn-block" form="answersSearchForm">
                                Search
                            </button>
                        </div>
                        <div class="col-2">
                            <button [disabled]="!(answersSearchResult && answersSearchResult.length)" type="button"
                                class="btn btn-primary btn-block" (click)="selectAllAnswersFromSearch()">
                                Select all
                            </button>
                        </div>
                        <div class="col-2">
                            <button [disabled]="!(answersSearchResult && answersSearchResult.length)" type="button"
                                class="btn btn-primary btn-block" (click)="unselectAllAnswersFromSearch()">
                                Unselect all
                            </button>
                        </div>
                    </div>
                </form>
                <div *ngIf="answersSearchResult?.length" class="answers-search-results">
                    <div>
                        <h6>Results: </h6>
                    </div>
                    <div class="row align-items-center translation-display" *ngFor="let result of answersSearchResult; let i = index;"
                        (click)="toggleAnswerTranslation(result)">
                        <div class="col-md-1">
                            <input [(ngModel)]="result.checked" type="checkbox" name="{{ 'cka' + i }}" id="{{ 'cka' + i }}">
                        </div>
                        <div class="col-md-11" style="border-bottom: 1px dashed gray">
                            <span style="word-wrap: break-word">{{ result.translation.text }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button [disabled]="!(answersSearchResult && answersSearchResult.length)" type="button" class="btn btn-primary"
                    (click)="addAnswersFromSearch()">
                    Pick these answers
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END: Search Answer Modal -->