.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    color: #ffffff;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav
>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover
>.m-menu__link .m-menu__link-text {
    color: #ffb515;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    background-color: #1a1c27;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-text {
    color: #ffb515;
}