<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Questions
                <span *ngIf="category">within the category :
                    <span class="m--font-primary">{{category.categoryName | uppercase}}</span>
                </span>
            </h3>
        </div>
        <div class="p-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_question_modal">
                <strong>&#43; question</strong>
            </button>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <!-- BEGIN: Add Question Modal -->
    <div class="modal fade" id="add_question_modal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add a question to
                        <span *ngIf="category && category.categoryName">{{category.categoryName | uppercase}}</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addQuestionForm" (ngSubmit)="addQuestion()" [formGroup]="addQuestionFormGroup">
                        <div class="form-group">
                            <label for="question-text" class="form-control-label">
                                Text:
                            </label>
                            <textarea class="form-control" id="question-text" formControlName="text"></textarea>
                        </div>
                        <div *ngIf="labels && labels.length > 0" class="form-group">
                            <label for="labels" class="form-control-label">
                                Labels:
                            </label>
                            <ng-select [items]="labels" [multiple]="true" [closeOnSelect]="false" bindLabel="labelText"
                                placeholder="Select labels" [(ngModel)]="selectedLabels" formControlName="labels">
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="question-description" class="form-control-label">
                                Description:
                            </label>
                            <input type="text" class="form-control" id="question-description" formControlName="description">
                        </div>
                        <div class="form-group">
                            <label for="question-comment" class="form-control-label">
                                Comment:
                            </label>
                            <input type="text" class="form-control" id="question-comment" formControlName="comment">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" [disabled]="addQuestionPressed" class="btn btn-primary" form="addQuestionForm">
                        <strong>&#43; question</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Add Question Modal -->

    <div *ngIf="questions">
        <div class="m-portlet__body">
            <!-- BEGIN: Section -->
            <div class="m-accordion m-accordion--bordered" role="tablist">
                <!-- BEGIN: Item -->
                <div *ngFor="let question of questions | filterDeleted;" class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed" role="tab" id="{{ question.questionId }}" data-toggle="collapse"
                        [attr.href]="'#question' + question.questionId" aria-expanded="false">
                        <span class="m-accordion__item-icon">
                            <span class="m-badge m-badge--primary">
                                <strong>Q</strong>
                            </span>
                        </span>
                        <span class="m-accordion__item-title">
                            <div>
                                {{getAccordionTitle(question)}}
                                <span *ngIf="question?.labels" style="float: right; margin-right: 3px;">
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded" style="margin-right: 2px; font-weight:bold;"
                                        *ngFor="let label of question.labels">
                                        {{ label.labelText }}
                                    </span>
                                </span>
                            </div>
                        </span>
                        <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse" [attr.id]="'question' + question.questionId">

                        <div class="m-accordion__item-content">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" *ngFor="let version of question.versions | filterDeleted; let i = index;">
                                    <a class="nav-link change-cursor" [class.active]="question.activeTab === i" (click)="tabEvent(i, question)" data-toggle="tab"
                                        [attr.data-target]="'#version' + version.questionVersionId">
                                        {{'version ' + version.version}}
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <ng-container *ngFor="let version of question.versions | filterDeleted; let i = index;">
                                    <div class="tab-pane" [class.active]="question.activeTab === i" [attr.id]="'version' + version.questionVersionId"
                                        role="tabpanel">
                                        <div class="d-flex flex-row smt-qaction-bar">
                                            <div class="p-2 mr-auto">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#add_translation_modal" (click)="assignVersion(question, version)">
                                                    <strong>&#43; translation</strong>
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#add_version_modal" (click)="assignQuestion(question)">
                                                    <strong>&#43; version</strong>
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                    data-target="#remove_version_modal" (click)="assignVersion(question, version)">
                                                    <strong>&times; version</strong>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column smt-translation" *ngFor="let translation of version.translations | filterDeleted;">
                                            <div class="d-flex flex-row">
                                                <div class="p-2">
                                                    Language :
                                                    <span class="m-badge m-badge--secondary m-badge--wide m-badge--rounded"
                                                        style="font-weight:bold;">{{translation.languageCode
                                                        | uppercase}}
                                                        <span class="m-badge m-badge--secondary m-badge--wide m-badge--rounded"
                                                            style="font-weight:bold;" *ngIf="translation.languageDescription && translation.languageDescription.length > 0">{{translation.languageDescription
                                                            | uppercase}}</span>
                                                    </span>
                                                </div>
                                                <div class="p-2">
                                                    Actions :
                                                </div>
                                                <div class="p-2" *ngFor="let action of translation.actions | slice:translation.actions.length - 3:translation.actions.length;">
                                                    <span class="m-badge m-badge--secondary m-badge--wide m-badge--rounded"
                                                        style="font-weight:bold;">{{action.userName
                                                        | uppercase}}
                                                        <span class="m-badge m-badge--secondary m-badge--wide m-badge--rounded"
                                                            style="font-weight:bold;">{{enumAction[action.actionType] |
                                                            uppercase}}</span>
                                                    </span>
                                                </div>
                                                <div class="ml-auto p-2">
                                                    Last Modification :
                                                    <span class="m-badge m-badge--secondary m-badge--wide m-badge--rounded"
                                                        style="font-weight:bold;">
                                                        {{translation.lastModificationDate}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="p-2">
                                                <span style="font-weight:bold; font-size: larger; white-space: pre-wrap; word-break: break-all;">{{translation.text}}</span>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-brand m-btn m-btn--icon"
                                                    data-toggle="modal" data-target="#edit_translation_modal" (click)="assignTranslation(question, version, translation)">
                                                    <strong>
                                                        <i class="fa flaticon-edit"></i>
                                                        translation
                                                    </strong>
                                                </button>
                                                <button *ngIf="!translation.isDefaultLanguage" type="button" class="btn btn-danger"
                                                    data-toggle="modal" data-target="#remove_translation_modal" (click)="assignTranslation(question, version, translation)">
                                                    <strong>&times; translation</strong>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Item -->
            </div>
            <!-- END: Section -->
        </div>
        <!-- BEGIN: Add Version Modal -->
        <div class="modal fade" id="add_version_modal" tabindex="-1" role="dialog" aria-labelledby="addVersionModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Add a version
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addVersionForm" (ngSubmit)="addVersion()" [formGroup]="addVersionFormGroup">
                            <div class="form-group">
                                <label for="question-text" class="form-control-label">
                                    Text:
                                </label>
                                <textarea class="form-control" id="question-text" formControlName="text"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="question-comment" class="form-control-label">
                                    Comment:
                                </label>
                                <input type="text" class="form-control" id="question-comment" formControlName="comment">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" [disabled]="addVersionPressed" class="btn btn-primary" form="addVersionForm">
                            Add version
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Add Version Modal -->
        <!-- BEGIN: Remove Version Modal -->
        <div class="modal fade" id="remove_version_modal" tabindex="-1" role="dialog" aria-labelledby="removeVersionModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Remove Version
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="removeVersionForm" (ngSubmit)="removeVersion()" [formGroup]="removeVersionFormGroup">
                            <label for="validateDeleteCk">
                                Validation <span style="color: palevioletred">[You won't be able to delete a version if it contains a translation used in a questionnaire]</span>
                            </label>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    <input type="checkbox" formControlName="ckContentCheck"> I checked the content of
                                    this
                                    version.
                                    <span></span>
                                </label>
                                <label class="m-checkbox">
                                    <input type="checkbox" formControlName="ckWantToRemove"> I am sure I want to remove
                                    this
                                    version.
                                    <span></span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <button [disabled]="removeVersionPressed" type="submit" class="btn btn-danger" form="removeVersionForm">
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Remove Version Modal-->
        <!-- BEGIN: Edit Translation Modal -->
        <div class="modal fade" id="edit_translation_modal" tabindex="-1" role="dialog" aria-labelledby="editTranslationModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Edit Translation
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>
                    <div *ngIf="currentTranslation;" class="modal-body">
                        <form id="editTranslationForm" (ngSubmit)="editTranslation()" [formGroup]="editTranslationFormGroup">
                            <div class="form-group m-form__group">
                                <label for="question-text" class="form-control-label">
                                    Text:
                                </label>
                                <textarea [(ngModel)]="currentTranslation.text" class="form-control" id="question-text"
                                    formControlName="text"></textarea>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="question-text" class="form-control-label">
                                    Language:
                                </label>
                                <ng-select *ngIf="currentTranslation.isDefaultLanguage && onlyEnglish" [(ngModel)]="currentTranslation.languageId"
                                    [items]="onlyEnglish" bindLabel="languageCode" bindValue="languageId"
                                    formControlName="language" [clearable]="false">
                                </ng-select>
                                <ng-select *ngIf="!currentTranslation.isDefaultLanguage && allButEnglish" [(ngModel)]="currentTranslation.languageId"
                                    [items]="allButEnglish" bindLabel="languageCode" bindValue="languageId"
                                    formControlName="language">
                                </ng-select>
                            </div>
                            <div class="form-group">
                                <label for="question-comment" class="form-control-label">
                                    Comment:
                                </label>
                                <input [(ngModel)]="currentTranslation.translationComment" type="text" class="form-control"
                                    id="question-comment" formControlName="comment">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" [disabled]="editTranslationPressed" class="btn btn-brand" form="editTranslationForm">
                            Edit Translation
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Edit Version Modal-->
        <!-- BEGIN: Add Translation Modal -->
        <div class="modal fade" id="add_translation_modal" tabindex="-1" role="dialog" aria-labelledby="addTranslationModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Add Translation
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>
                    <div *ngIf="currentVersion;" class="modal-body">
                        <form id="addTranslationForm" (ngSubmit)="addTranslation()" [formGroup]="addTranslationFormGroup">
                            <div class="form-group m-form__group">
                                <label for="question-text" class="form-control-label">
                                    Text:
                                </label>
                                <textarea class="form-control" id="question-text" formControlName="text"></textarea>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="question-text" class="form-control-label">
                                    Language:
                                </label>
                                <ng-select *ngIf="allButEnglish" [items]="allButEnglish" bindLabel="languageCode"
                                    bindValue="languageId" formControlName="language">
                                </ng-select>
                            </div>
                            <div class="form-group">
                                <label for="question-comment" class="form-control-label">
                                    Comment:
                                </label>
                                <input type="text" class="form-control" id="question-comment" formControlName="comment">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" [disabled]="addTranslationPressed" class="btn btn-primary" form="addTranslationForm">
                            Add Translation
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Add Translation Modal-->
        <!-- BEGIN: Remove Translation Modal -->
        <div class="modal fade" id="remove_translation_modal" tabindex="-1" role="dialog" aria-labelledby="removeTranslationModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Remove Translation
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="removeTranslationForm" (ngSubmit)="removeTranslation()" [formGroup]="removeTranslationFormGroup">
                            <label for="validateDeleteCk">
                                Validation <span style="color: palevioletred">[You won't be able to delete a translation if it is being used in a questionnaire]</span>
                            </label>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    <input type="checkbox" formControlName="ckContentCheck"> I checked the content of
                                    this
                                    translation.
                                    <span></span>
                                </label>
                                <label class="m-checkbox">
                                    <input type="checkbox" formControlName="ckWantToRemove"> I am sure I want to remove
                                    this
                                    translation.
                                    <span></span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" [disabled]="removeTranslationPressed" class="btn btn-danger" form="removeTranslationForm">
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Remove Translation Modal-->
    </div>
</div>