.smt-qaction-bar {
    border-bottom: 2px dotted #ccc;
}

.smt-translation {
    border-bottom: 2px dotted #ccc;
    padding: 3px;
    margin-bottom: 2px;
}

.smt-translation:hover {
    background-color: rgb(247, 247, 247);
}

.change-cursor:hover {
    cursor: pointer;
}