<div>
    <div *ngIf="section && section?.map?.questionTranslation?.text" class="row align-items-center" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <span style="margin-right: 2px;" class="m-badge m-badge--metal m-badge--wide">{{section.map.questionTranslation.mappingTag}}</span>
            <span style="font-weight:bold; font-size: larger; white-space: pre-wrap; word-break: break-all">{{section.map.questionTranslation.text}}</span>
        </div>
    </div>
    <div [ngSwitch]="section.displayType">
        <div *ngSwitchCase="0">
            <div class="slidecontainer row">
                <div class="col">
                    <input type="range" [attr.min]="0" [attr.max]="10" [attr.value]="5" class="slider" id="myRange">
                </div>
            </div>
            <!--         <div class="row" style="margin-top: 10px">
            <div class="col-md-4">
                Minimum: <input type="number" value="0" min="0">
            </div>
            <div class="col-md-4">
                Maximum: <input type="number" value="10" min="1">
            </div>
            <div class="col-md-4">
                Value: <input type="number" value="5">
            </div> -->

        </div>
        <div *ngSwitchCase="1">
            <div *ngIf="section && section?.map?.answerTranslations">
                <div *ngFor="let answer of section.map.answerTranslations" class="row checkbox align-items-center">
                    <div class="col-md-12">
                        <input type="checkbox" name="optchekbox">
                        <span style="font-weight:bold; font-size: larger; white-space: pre-wrap;">{{answer.text}}</span>
                        <span style="margin-left: 6px;" class="m-badge m-badge--metal m-badge--wide">{{answer.mappingTag}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="2">
            <div *ngIf="section && section?.map?.answerTranslations">
                <div *ngFor="let answer of section.map.answerTranslations" class="row radio align-items-center">
                    <div class="col-md-12">
                        <input type="radio" name="optradio">
                        <span style="font-weight:bold; font-size: larger; white-space: pre-wrap;">{{answer.text}}</span>
                        <span style="margin-left: 6px;" class="m-badge m-badge--metal m-badge--wide">{{answer.mappingTag}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="3">
            <ng-select *ngIf="section && section?.map?.answerTranslations" [items]="section.map.answerTranslations"
                bindLabel="text" bindValue="answerTranslationId" placeholder="Pick your answer">
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div>{{item.text}}<span style="margin-left: 6px;" class="m-badge m-badge--metal m-badge--wide">{{item.mappingTag}}</span></div>
                </ng-template>
            </ng-select>
        </div>
        <div *ngSwitchCase="4">
            <input type="text" class="form-control" placeholder="Type your answer">
        </div>
        <div *ngSwitchDefault>
            <div *ngIf="section && section?.map?.answerTranslations">
                <div *ngFor="let answer of section.map.answerTranslations" class="row radio align-items-center">
                    <div class="col-md-12">
                        <input type="radio" name="optradio">
                        <span style="font-weight:bold; font-size: larger; white-space: pre-wrap;">{{answer.text}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>