<!-- BEGIN: SUBHEADER -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Questionnaire view
            </h3>
        </div>
    </div>
</div>
<!-- END: SUBHEADER -->
<!-- BEGIN: MAIN CONTENT -->
<div class="m-content">
    <div class="col-md-12 m-portlet" style="margin-bottom: 5px">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="flaticon-interface-11"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        General
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="questionnaire && questionnaireId && questionnaire.languageId === 1">
                        <a [routerLink]="'/questionnaires/build/' + questionnaireId" class="btn btn-primary">Use this questionnaire as a preset</a>
                    </li>
                    <li class="m-portlet__nav-item" *ngIf="questionnaire && questionnaireId && questionnaire.languageId === 1">
                        <a [routerLink]="'/questionnaires/' + questionnaireId + '/translate'" class="btn btn-primary">I want to translate this questionnaire</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!-- BEGIN: Questionnaire Form Group -->
            <div class="row">
                <div class="col-md-6 form-group">
                    <label><h6>Language Code</h6></label>
                </div>
                <div class="col-md-6 form-group">
                    <label><h6>Language Description</h6></label>
                </div>
            </div>
            <div class="row" *ngIf="questionnaire">
                <div class="col-md-6 form-group">
                    <input disabled type="text" placeholder="Language Code" class="form-control" [(ngModel)]="questionnaire.languageCode">
                </div>
                <div class="col-md-6 form-group">
                    <input disabled type="text" placeholder="Language Description" class="form-control" [(ngModel)]="questionnaire.languageDescription">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 form-group">
                    <label><h6>Questionnaire Title</h6></label>
                </div>
                <div class="col-md-4 form-group">
                    <label><h6>Questionnaire Group</h6></label>
                </div>
            </div>
            <div class="row" *ngIf="questionnaire">
                <div class="col-md-8 form-group">
                    <input disabled type="text" placeholder="Questionnaire title" class="form-control" [(ngModel)]="questionnaire.title.defaultTitleText">
                </div>
                <div class="col-md-4 form-group" *ngIf="qtgDTO">
                    <input disabled type="text" placeholder="Group" class="form-control" [(ngModel)]="qtgDTO.groupName">
                </div>
            </div>
            <div *ngIf="questionnaire">
                <div class="row align-items-center">
                    <div class="col-md-3 form-group" style="margin-top:10px;">
                        <label><h6>Page Selection :</h6></label>
                    </div>
                    <div class="col-md-9 form-group">
                        <ng-select bindLabel="sectionTitle.defaultTitleText" [items]="questionnaire.sections" [(ngModel)]="selectedPage" [clearable]="false">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-read-only-page *ngIf="selectedPage" [page]="selectedPage"></app-read-only-page>
</div>
<!-- END: MAIN CONTENT -->