<!-- <pre>
    {{section | json}}
</pre> -->
<div *ngIf="section.qa && section.qa?.question?.text" class="row" style="margin-bottom: 5px;">
    <span style="font-weight:bold; font-size: larger; white-space: pre-wrap; word-break: break-all;">{{section.qa.question.text}}</span>
</div>
<div [ngSwitch]="section.displayType">
    <div *ngSwitchCase="0">
        <div class="slidecontainer row">
            <input type="range" [attr.min]="0" [attr.max]="10" [attr.value]="5" class="slider" id="myRange">
        </div>
    </div>
    <div *ngSwitchCase="1">
        <div *ngIf="section.qa && section.qa.answers">
            <div *ngFor="let answer of section.qa.answers" class="row checkbox align-items-center">
                <div class="col-md-10">
                    <input type="checkbox" name="optchekbox">
                    <span style="font-weight:bold; font-size: larger; white-space: pre-wrap;">{{answer.text}}</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-light btn-sm" (click)="moveDown(answer)">&darr;</button>
                    <button type="button" class="btn btn-light btn-sm" (click)="moveUp(answer)">&uarr;</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteAnswer(answer)">&times;</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <div *ngIf="section.qa && section.qa.answers">
            <div *ngFor="let answer of section.qa.answers" class="row radio align-items-center">
                <div class="col-md-10">
                    <input type="radio" name="optradio">
                    <span style="font-weight:bold; font-size: larger; white-space: pre-wrap;">{{answer.text}}</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-light btn-sm" (click)="moveDown(answer)">&darr;</button>
                    <button type="button" class="btn btn-light btn-sm" (click)="moveUp(answer)">&uarr;</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteAnswer(answer)">&times;</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="3">
        <ng-select *ngIf="section.qa && section.qa.answers" [items]="section.qa.answers" bindLabel="text" bindValue="answerTranslationId"
            placeholder="Pick your answer">
        </ng-select>
    </div>
    <div *ngSwitchCase="4">
        <input type="text" class="form-control" placeholder="Type your answer">
    </div>
    <div *ngSwitchDefault>
        <div *ngIf="section.qa && section.qa.answers">
            <div *ngFor="let answer of section.qa.answers" class="row radio">
                <label>
                    <input type="radio" name="optradio">
                    <span style="font-weight:bold; font-size: larger; white-space: pre-wrap;">{{answer.text}}</span>
                </label>
            </div>
        </div>
    </div>
</div>