.ag-theme-balham .is-parent {
    background-color: rgba(193, 255, 111, 0.76) !important;
}
.ag-theme-balham .is-child {
    background-color: rgba(209, 245, 206, 0.842) !important;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}


ng-select.ng-invalid .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.selected-bar {
    background-color: rgb(250, 240, 240);
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
}

.column-info {
    justify-content: center;
}

.column-action {
    align-content: flex-end;
    justify-content: center;
}