<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Answers Categories
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    >
                </li>
                <li class="m-nav__item">
                    <span class="m-nav__link-text">
                        Categories
                    </span>
                </li>
                <li class="m-nav__separator">
                    >
                </li>
                <li class="m-nav__item">
                    <a [routerLink]="['/categories/answers']" routerLinkActive="router-link-active" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Answers
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-md-8">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Your categories
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <div *ngIf="selectedCategory && selectedCategory.categoryName" class="d-flex align-items-center">
                        <div class="mr-auto p-2">
                            <strong>
                                <h5>Selected : {{selectedCategory.categoryName | uppercase}}</h5>
                            </strong>
                        </div>
                        <div class="p-2">
                            <a routerLink="/category/{{selectedCategory.answerCategoryId}}/answers" class="btn btn-primary btn-sm">
                                Show Answers
                            </a>
                        </div>
                    </div>
                    <!--begin: agGrid -->
                    <ag-grid-angular #agGrid class="ag-theme-balham" [pagination]="true" [paginationPageSize]="paginationPageSize"
                        [enableFilter]="true" [enableSorting]="true" [rowData]="rowData" [columnDefs]="columnDefs"
                        [enableColResize]="true" [gridAutoHeight]="true" [animateRows]="true" [floatingFilter]="true"
                        [rowClassRules]="rowClassRules" [multiSortKey]="multiSortKey" (rowClicked)="onRowClicked($event)"
                        (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                    <!--end: agGrid -->
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-md-4">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Category
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--right m-tabs-line-danger" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_1_1"
                                    role="tab">
                                    Create
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_2" role="tab">
                                    Edit
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_3" role="tab">
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_portlet_tab_1_1">
                            <!--begin::Form-->
                            <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="addCategoryForm"
                                (ngSubmit)="onCreate()">
                                <div class="form-group m-form__group">
                                    <label for="categoryNameInput">
                                        Category Name
                                    </label>
                                    <input name="categoryName" type="text" class="form-control m-input" id="categoryNameInput"
                                        aria-describedby="categoryName" placeholder="Enter the category name"
                                        formControlName="categoryName">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="categoryDescriptionTextArea">
                                        Category Description
                                    </label>
                                    <textarea name="description" class="form-control m-input" id="categoryDescriptionTextarea"
                                        formControlName="description" rows="2"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="parentCategory">
                                        Parent Category
                                    </label>
                                    <ng-select [items]="categories" bindLabel="categoryName" bindValue="answerCategoryId"
                                        formControlName="parentCategory">
                                    </ng-select>
                                    <span class="m-form__help">
                                        Leave this field empty if it's a main category.
                                    </span>
                                </div>
                                <div class="m-form__actions">
                                    <button type="submit" class="btn btn-primary">
                                        Create
                                    </button>
                                    <button type="reset" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <div class="tab-pane" id="m_portlet_tab_1_2">
                            <!--begin::Form-->
                            <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="updateCategoryForm"
                                (ngSubmit)="onUpdate()">
                                <div class="m-portlet__body">
                                    <div class="form-group m-form__group">
                                        <label for="selectCategoryToDelete">
                                            Select the category
                                        </label>
                                        <ng-select *ngIf="selectedCategory" name="categoryToUpdate" [ngModel]="selectedCategory.answerCategoryId"                                            [items]="categoriesWithNested" bindLabel="categoryName" bindValue="answerCategoryId"
                                            (change)="selectChange($event)" [clearable]="false" formControlName="categorySelect">
                                        </ng-select>
                                        <ng-select *ngIf="!selectedCategory" name="categoryToUpdate" [items]="categoriesWithNested"
                                            bindLabel="categoryName" bindValue="answerCategoryId" (change)="selectChange($event)"
                                            [clearable]="false" formControlName="categorySelect">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="selectedCategory" class="form-group m-form__group">
                                        <label for="categoryName">
                                            Category Name
                                        </label>
                                        <input formControlName="categoryName" [ngModel]="selectedCategory.categoryName"
                                            name="categoryName" type="text" class="form-control m-input" id="categoryNameInput"
                                            aria-describedby="categoryName">
                                    </div>
                                    <div *ngIf="selectedCategory" class="form-group m-form__group">
                                        <label for="categoryDescriptionTextArea">
                                            Category Description
                                        </label>
                                        <textarea formControlName="description" [ngModel]="selectedCategory.description"
                                            name="description" class="form-control m-input" id="categoryDescriptionTextarea"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions">
                                        <button type="submit" [disabled]="cedPressed" class="btn btn-primary">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <div class="tab-pane" id="m_portlet_tab_1_3">
                            <!--begin::Form-->
                            <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="deleteCategoryForm"
                                (ngSubmit)="onDelete()">
                                <div class="m-portlet__body">
                                    <div class="form-group m-form__group">
                                        <label for="selectCategoryToDelete">
                                            Select the category
                                        </label>
                                        <ng-select *ngIf="selectedCategory" [ngModel]="selectedCategory.answerCategoryId"
                                            [items]="categoriesWithNested" bindLabel="categoryName" bindValue="answerCategoryId"
                                            [clearable]="false" formControlName="categorySelect" (change)="selectChange($event)">
                                        </ng-select>
                                        <ng-select *ngIf="!selectedCategory" name="categoryToDelete" [items]="categoriesWithNested"
                                            bindLabel="categoryName" bindValue="answerCategoryId" [clearable]="false"
                                            formControlName="categorySelect" (change)="selectChange($event)">
                                        </ng-select>
                                    </div>
                                    <div class="form-group m-form__group">
                                        <label for="validateDeleteCk">
                                            Validation
                                        </label>
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                                <input type="checkbox" formControlName="ckContentCheck"> I checked the
                                                content of this category.
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox">
                                                <input type="checkbox" formControlName="ckWantToRemove"> I am sure I
                                                want to remove this category.
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions">
                                        <button type="submit" class="btn btn-primary">
                                            Delete
                                        </button>
                                        <button type="reset" class="btn btn-secondary">
                                            Never mind
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>