<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Labels
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/labels" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Labels
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
                aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">
                                            Quick Actions
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Activity
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Messages
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                FAQ
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
                                                Support
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-md-8">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Your Labels
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <div *ngIf="selectedLabel && selectedLabel.labelText" class="d-flex align-items-center">
                        <div class="mr-auto p-2">
                            <strong>
                                <h5>Selected : {{selectedLabel.labelText | uppercase}}</h5>
                            </strong>
                        </div>
                    </div>
                    <!--begin: agGrid -->
                    <ag-grid-angular #agGrid class="ag-theme-balham" [pagination]="true" [paginationPageSize]="paginationPageSize"
                        [enableFilter]="true" [enableSorting]="true" [rowData]="rowData" [columnDefs]="columnDefs" [enableColResize]="true"
                        [gridAutoHeight]="true" [animateRows]="true" [floatingFilter]="true" [multiSortKey]="multiSortKey" (rowClicked)="onRowClicked($event)"
                        (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                    <!--end: agGrid -->
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-md-4">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Label
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--right m-tabs-line-danger" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_1_1" role="tab">
                                    Create
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_2" role="tab">
                                    Edit
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_3" role="tab">
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_portlet_tab_1_1">
                            <!--begin::Form-->
                            <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="addLabelForm" (ngSubmit)="onCreate()">
                                <div class="form-group m-form__group">
                                    <label for="labelInput">
                                        Label Name
                                    </label>
                                    <input name="label" type="text" class="form-control m-input" id="labelInput" aria-describedby="label"
                                        placeholder="Enter the label name" formControlName="label">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="labelDescriptionTextArea">
                                        Label Description
                                    </label>
                                    <input name="description" class="form-control m-input" id="labelDescriptionTextarea" formControlName="description">
                                </div>
                                <div class="m-form__actions">
                                    <button type="submit" class="btn btn-primary">
                                        Create
                                    </button>
                                    <button type="reset" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <div class="tab-pane" id="m_portlet_tab_1_2">
                            <!--begin::Form-->
                            <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="updateLabelForm" (ngSubmit)="onUpdate()">
                                <div class="m-portlet__body">
                                    <div class="form-group m-form__group">
                                        <label for="selectlabelToDelete">
                                            Select the label
                                        </label>
                                        <ng-select *ngIf="selectedLabel;else other2" [(ngModel)]="selectedLabel.labelId" [items]="labels" bindLabel="labelText"
                                            bindValue="labelId" formControlName="labelSelect">
                                        </ng-select>
                                        <ng-template #other2>
                                            <ng-select [items]="labels" bindLabel="labelText" bindValue="labelId" formControlName="labelSelect">
                                            </ng-select>
                                        </ng-template>
                                    </div>
                                    <div class="form-group m-form__group">
                                        <label for="label">
                                            Label Name
                                        </label>
                                        <input formControlName="label" [(ngModel)]="updateLabel.label" name="label" type="text" class="form-control m-input"
                                            id="labelInput" aria-describedby="label">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <label for="labelDescriptionTextArea">
                                            Label Description
                                        </label>
                                        <input formControlName="description" [(ngModel)]="updateLabel.description" name="description" class="form-control m-input"
                                            id="labelDescriptionTextarea">
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions">
                                        <button type="submit" class="btn btn-primary">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <div class="tab-pane" id="m_portlet_tab_1_3">
                            <!--begin::Form-->
                            <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="deleteLabelForm" (ngSubmit)="onDelete()">
                                <div class="m-portlet__body">
                                    <div class="form-group m-form__group">
                                        <label for="selectlabelToDelete">
                                            Select the label
                                        </label>
                                        <ng-select *ngIf="selectedLabel;else other2" [(ngModel)]="selectedLabel.labelId" [items]="labels" bindLabel="labelText"
                                            bindValue="labelId" formControlName="labelSelect">
                                        </ng-select>
                                        <ng-template #other2>
                                            <ng-select [items]="labels" bindLabel="labelText" bindValue="labelId" formControlName="labelSelect">
                                            </ng-select>
                                        </ng-template>
                                    </div>
                                    <div class="form-group m-form__group">
                                        <label for="validateDeleteCk">
                                            Validation
                                        </label>
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                                <input type="checkbox" formControlName="ckWantToRemove"> I am sure I want to remove this label.
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions">
                                        <button type="submit" class="btn btn-primary">
                                            Delete
                                        </button>
                                        <button type="reset" class="btn btn-secondary">
                                            Never mind
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>