<div class="m-content" *ngIf="page">
    <div class="row" *ngFor="let section of page?.children; let i = index;">
        <div class="col-md-12 m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-info"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Question {{i + 1}}
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <ng-select style="width: 200px;" disabled [clearable]="false" [(ngModel)]="section.displayType">
                                <ng-option [value]="0">Slider</ng-option>
                                <ng-option [value]="1">Checkbox</ng-option>
                                <ng-option [value]="2">Radiobutton</ng-option>
                                <ng-option [value]="3">Dropdown</ng-option>
                                <ng-option [value]="4">Textbox</ng-option>
                            </ng-select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <app-read-only-question-display [section]="section"></app-read-only-question-display>
            </div>
        </div>
    </div>
</div>