<!-- BEGIN: SUBHEADER -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Questionnaires
            </h3>
        </div>
    </div>
</div>
<!-- END: SUBHEADER -->
<!-- BEGIN: MAIN CONTENT -->
<div class="m-content">
    <div class="col-md-12 m-portlet" style="margin-bottom: 5px">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="flaticon-interface-11"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Your questionnaires
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <ul style="list-style-type: none">
                <li *ngFor="let gd of groupDisplay" style="margin-bottom: 6px;">
                    <div *ngIf="gd.questionnaires && gd.questionnaires.length > 0">

                        <div class="row">
                            <div class="col-md-4">
                                <span class="m-badge m-badge--success m-badge--wide">{{gd.group.groupName}}</span>
                            </div>
                        </div>
                        <ul style="list-style-type: square; margin-left: 36px;">
                            <li *ngFor="let qtnr of gd.questionnaires">
                                <div class="row align-items-center">
                                    <div style="margin-right: 6px;">
                                        <span class="m-badge m-badge--info m-badge--wide">
                                            {{qtnr.title.defaultTitleText}}
                                        </span>
                                        <span class="m-badge m-badge--info m-badge--wide">{{qtnr.languageCode}}
                                            <span *ngIf="qtnr.languageDescription">- {{qtnr.languageDescription}}</span>
                                        </span>
                                    </div>
                                    <div>
                                        <a [routerLink]="'/questionnaires/' + qtnr.questionnaireId + '/view'" class="btn btn-outline-dark">
                                            <i class="flaticon-eye"></i>
                                        </a>
                                    </div>
                                    <div *ngIf="qtnr.languageId === 1">
                                        <a [routerLink]="'/questionnaires/' + qtnr.questionnaireId + '/translate'"
                                            class="btn btn-outline-dark">
                                            <i class="flaticon-list-1"></i>
                                        </a>
                                    </div>
                                    <div *ngIf="qtnr.languageId === 1">
                                        <a [routerLink]="'/questionnaires/build/' + qtnr.questionnaireId" class="btn btn-outline-dark">
                                            <i class="flaticon-file-1"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <button type="button" (click)="downloadQuestionnaire(qtnr.questionnaireId)" class="btn btn-outline-dark">
                                            <i class="flaticon-download"></i>
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" (click)="deleteQuestionnaire(qtnr.questionnaireId)" class="btn btn-danger btn-outline-dark">
                                            <i class="flaticon-cancel"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: MAIN CONTENT -->