<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Import / Export
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Home
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    >
                </li>
                <li class="m-nav__item">
                    <a [routerLink]="['/backup']" routerLinkActive="router-link-active" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Import / Export
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="la la-language"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Import
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-section">
                <h3 class="m-section__heading">
                    Questions Import
                </h3>
                <div class="m-section__content">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="import-questions-file" accept=".csv" (change)="getQuestionsFile($event.target.files)">
                        <button [disabled]="importPressed" style="margin-top:5px;" *ngIf="questionsImportFile" type="button"
                            class="btn btn-primary" (click)="importQuestions()">
                            Import Questions
                        </button>
                    </div>
                </div>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-section">
                <h3 class="m-section__heading">
                    Answers Import
                </h3>
                <div class="m-section__content">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="import-answers-file" accept=".csv" (change)="getAnswersFile($event.target.files)">
                        <button [disabled]="importPressed" style="margin-top:5px;" *ngIf="answersImportFile" type="button"
                            class="btn btn-primary" (click)="importAnswers()">
                            Import Answers
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="la la-language"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Export
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-section">
                <h3 class="m-section__heading">
                    Questions Export
                </h3>
                <div class="m-section__content">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" (click)="exportQuestions()">
                            Export Questions
                        </button>
                    </div>
                </div>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-section">
                <h3 class="m-section__heading">
                    Answers Export
                </h3>
                <div class="m-section__content">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" (click)="exportAnswers()">
                            Export Answers
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="importationMessage || error" class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="la la-language"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Results
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-section">
                <h3 class="m-section__heading">
                    Results <button style="margin-left: 10px;" (click)="clearResults()">Clear &times;</button>
                </h3>
                <div class="m-section__content">
                    <div *ngIf="importationMessage?.description">
                        <div style="font-weight:bold; margin-bottom: 5px;">
                            {{ importationMessage.description }}
                        </div>
                        <table *ngIf="importationMessage?.errors" border="1">
                            <thead>
                                <th>Line</th>
                                <th>Message</th>
                            </thead>
                            <tr *ngFor="let err of importationMessage?.errors">
                                <td style="font-weight: bold;">{{ err.line }}</td>
                                <td><span style="font-weight:bold; color: palevioletred;">{{ err.message }}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="error">
                        <pre>{{error}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>