<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Questionnaire Translation
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Home
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    >
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Questionnaires
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    >
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Translate
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="la la-language"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Translation Wizard <span *ngIf="language">{{language.code}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-section">
                <h3 class="m-section__heading">
                    Progress
                </h3>
                <div class="m-section__content">
                    <ngb-progressbar *ngIf="steps && steps.length" style="width: 100%" [showValue]="true" type="success"
                        [value]="progressBarValue"></ngb-progressbar>
                </div>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-section">
                <div *ngIf="steps && steps.length > 0" [ngSwitch]="steps[currentStep].type">
                    <div *ngSwitchCase="'LANGUAGE'">
                        <h3 class="m-section__heading">
                            Step {{currentStep}}: Pick the translation language
                        </h3>
                        <div class="m-section__content">
                            <ng-select [disabled]="steps[currentStep].validated" style="width: 100%;" bindLabel="languageCode"
                                bindValue="languageId" [items]="steps[currentStep].languageKey" [(ngModel)]="selectedLanguage">
                                <ng-template ng-label-tmp let-item="item">
                                    {{item.languageCode}} <span *ngIf="item.description"> - {{item.description}}</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.languageCode}} <span *ngIf="item.description"> - {{item.description}}</span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div *ngSwitchCase="'QTNR-TITLE'">
                        <h3 class="m-section__heading">
                            Step {{currentStep}}: Translate the questionnaire title
                        </h3>
                        <h4 class="m-section__heading">
                            &#10149; English Questionnaire Title:
                        </h4>
                        <div class="m-section__content">
                            <input type="text" class="form-control" disabled [(ngModel)]="steps[currentStep].questionnaireTitle.defaultTitleText">
                        </div>
                        <h4 class="m-section__heading">
                            &#10149; Your translation:
                        </h4>
                        <div class="m-section__content">
                            <input type="text" class="form-control" [disabled]="steps[currentStep].validated"
                                placeholder="Type your translation here" [(ngModel)]="steps[currentStep].model">
                        </div>
                    </div>
                    <div *ngSwitchCase="'SCTN-TITLE'">
                        <h3 class="m-section__heading">
                            Step {{currentStep}}: Translate the page title
                        </h3>
                        <h4 class="m-section__heading">
                            &#10149; English Page Title:
                        </h4>
                        <div class="m-section__content">
                            <input type="text" class="form-control" disabled [(ngModel)]="steps[currentStep].pageTitle.defaultTitleText">
                        </div>
                        <h4 class="m-section__heading">
                            &#10149; Your translation:
                        </h4>
                        <div class="m-section__content">
                            <input type="text" class="form-control" [disabled]="steps[currentStep].validated"
                                placeholder="Type your translation here" [(ngModel)]="steps[currentStep].model">
                        </div>
                    </div>
                    <div *ngSwitchCase="'QA'">
                        <h3 class="m-section__heading">
                            Step {{currentStep}}: Translate the following question
                        </h3>
                        <h4 class="m-section__heading">
                            &#10149; What you need to translate:
                        </h4>
                        <div class="m-section__content">
                            <div [ngSwitch]="steps[currentStep].qaSection.displayType">
                                <!-- SLIDER -->
                                <div *ngSwitchCase="0">
                                    <div class="row align-items-center" style="padding-top: 2px; padding-bottom:2px; border-bottom: 1px dotted black; border-top: 1px dotted black;"
                                        *ngIf="steps[currentStep].qaSection?.map?.questionTranslation?.text">
                                        <div class="col-md-1 text-center">
                                            <span class="m-badge m-badge--primary m-badge--wide m-badge--rounded">
                                                <strong>Q</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-5" style="word-break: break-all">
                                            <strong>
                                                {{ steps[currentStep].qaSection.map.questionTranslation.text }}
                                            </strong>
                                        </div>
                                        <div class="col-md-5">
                                            <ng-select [disabled]="steps[currentStep].validated" bindLabel="text" style="width: 100%;"
                                                bindValue="questionTranslationId" [items]="steps[currentStep].qts.qts"
                                                [(ngModel)]="steps[currentStep].qts.model">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-1">
                                            <button [disabled]="steps[currentStep].validated" type="button" class="btn btn-primary btn-block"
                                                data-toggle="modal" data-target="#add_question_translation_modal">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- CHECKBOX -->
                                <div *ngSwitchCase="1">
                                    <div class="row align-items-center" style="padding-top: 2px; padding-bottom:2px; border-bottom: 1px dotted black; border-top: 1px dotted black;"
                                        *ngIf="steps[currentStep].qaSection?.map?.questionTranslation?.text">
                                        <div class="col-md-1 text-center">
                                            <span class="m-badge m-badge--primary m-badge--wide m-badge--rounded">
                                                <strong>Q</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-5" style="word-break: break-all">
                                            <strong>
                                                {{ steps[currentStep].qaSection.map.questionTranslation.text }}
                                            </strong>
                                        </div>
                                        <div class="col-md-5">
                                            <ng-select [disabled]="steps[currentStep].validated" bindLabel="text" style="width: 100%;"
                                                bindValue="questionTranslationId" [items]="steps[currentStep].qts.qts"
                                                [(ngModel)]="steps[currentStep].qts.model">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-1">
                                            <button [disabled]="steps[currentStep].validated" type="button" class="btn btn-primary btn-block"
                                                data-toggle="modal" data-target="#add_question_translation_modal">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row align-items-center" style="padding-top: 2px; padding-bottom:2px; border-bottom: 1px dotted black;"
                                        *ngFor="let ats of steps[currentStep].atss; let i = index;">
                                        <div class="col-md-1 text-center">
                                            <span *ngIf="steps[currentStep].qaSection?.map?.answerTranslations" class="m-badge m-badge--primary m-badge--wide m-badge--rounded"
                                                style="margin-right: 2px;">
                                                <strong>A</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-5">
                                            <div *ngIf="steps[currentStep].qaSection?.map?.answerTranslations" style="word-break: break-all">
                                                <strong>
                                                    {{ steps[currentStep].qaSection.map.answerTranslations[i].text }}
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <ng-select [disabled]="steps[currentStep].validated" bindLabel="text" style="width: 100%;"
                                                bindValue="answerTranslationId" [items]="ats.ats" [(ngModel)]="ats.model">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-1">
                                            <button [disabled]="steps[currentStep].validated" type="button" class="btn btn-primary btn-block"
                                                (click)="assignIndex(ats.index)" data-toggle="modal" data-target="#add_answer_translation_modal">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- RADIOBUTTON -->
                                <div *ngSwitchCase="2">
                                    <div class="row align-items-center" style="padding-top: 2px; padding-bottom:2px; border-bottom: 1px dotted black; border-top: 1px dotted black;"
                                        *ngIf="steps[currentStep].qaSection?.map?.questionTranslation?.text">
                                        <div class="col-md-1 text-center">
                                            <span class="m-badge m-badge--primary m-badge--wide m-badge--rounded">
                                                <strong>Q</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-5" style="word-break: break-all">
                                            <strong>
                                                {{ steps[currentStep].qaSection.map.questionTranslation.text }}
                                            </strong>
                                        </div>
                                        <div class="col-md-5">
                                            <ng-select [disabled]="steps[currentStep].validated" bindLabel="text" style="width: 100%;"
                                                bindValue="questionTranslationId" [items]="steps[currentStep].qts.qts"
                                                [(ngModel)]="steps[currentStep].qts.model">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-1">
                                            <button [disabled]="steps[currentStep].validated" type="button" class="btn btn-primary btn-block"
                                                data-toggle="modal" data-target="#add_question_translation_modal">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row align-items-center" style="padding-top: 2px; padding-bottom:2px; border-bottom: 1px dotted black;"
                                        *ngFor="let ats of steps[currentStep].atss; let i = index;">
                                        <div class="col-md-1 text-center">
                                            <span *ngIf="steps[currentStep].qaSection?.map?.answerTranslations" class="m-badge m-badge--primary m-badge--wide m-badge--rounded"
                                                style="margin-right: 2px;">
                                                <strong>A</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-5">
                                            <div *ngIf="steps[currentStep].qaSection?.map?.answerTranslations" style="word-break: break-all">
                                                <strong>
                                                    {{ steps[currentStep].qaSection.map.answerTranslations[i].text }}
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <ng-select [disabled]="steps[currentStep].validated" bindLabel="text" style="width: 100%;"
                                                bindValue="answerTranslationId" [items]="ats.ats" [(ngModel)]="ats.model">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-1">
                                            <button [disabled]="steps[currentStep].validated" type="button" class="btn btn-primary btn-block"
                                                (click)="assignIndex(ats.index)" data-toggle="modal" data-target="#add_answer_translation_modal">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- DROPDOWN -->
                                <div *ngSwitchCase="3">
                                    <div class="row align-items-center" style="padding-top: 2px; padding-bottom:2px; border-bottom: 1px dotted black; border-top: 1px dotted black;"
                                        *ngIf="steps[currentStep].qaSection?.map?.questionTranslation?.text">
                                        <div class="col-md-1 text-center">
                                            <span class="m-badge m-badge--primary m-badge--wide m-badge--rounded">
                                                <strong>Q</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-5" style="word-break: break-all">
                                            <strong>
                                                {{ steps[currentStep].qaSection.map.questionTranslation.text }}
                                            </strong>
                                        </div>
                                        <div class="col-md-5">
                                            <ng-select [disabled]="steps[currentStep].validated" bindLabel="text" style="width: 100%;"
                                                bindValue="questionTranslationId" [items]="steps[currentStep].qts.qts"
                                                [(ngModel)]="steps[currentStep].qts.model">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-1">
                                            <button [disabled]="steps[currentStep].validated" type="button" class="btn btn-primary btn-block"
                                                data-toggle="modal" data-target="#add_question_translation_modal">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row align-items-center" style="padding-top: 2px; padding-bottom:2px; border-bottom: 1px dotted black;"
                                        *ngFor="let ats of steps[currentStep].atss; let i = index;">
                                        <div class="col-md-1 text-center">
                                            <span *ngIf="steps[currentStep].qaSection?.map?.answerTranslations" class="m-badge m-badge--primary m-badge--wide m-badge--rounded"
                                                style="margin-right: 2px;">
                                                <strong>A</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-5">
                                            <div *ngIf="steps[currentStep].qaSection?.map?.answerTranslations" style="word-break: break-all">
                                                <strong>
                                                    {{ steps[currentStep].qaSection.map.answerTranslations[i].text }}
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <ng-select [disabled]="steps[currentStep].validated" bindLabel="text" style="width: 100%;"
                                                bindValue="answerTranslationId" [items]="ats.ats" [(ngModel)]="ats.model">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-1">
                                            <button [disabled]="steps[currentStep].validated" type="button" class="btn btn-primary btn-block"
                                                (click)="assignIndex(ats.index)" data-toggle="modal" data-target="#add_answer_translation_modal">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- TEXTBOX -->
                                <div *ngSwitchCase="4">
                                    <div class="row align-items-center" style="padding-top: 2px; padding-bottom:2px; border-bottom: 1px dotted black; border-top: 1px dotted black;"
                                        *ngIf="steps[currentStep].qaSection?.map?.questionTranslation?.text">
                                        <div class="col-md-1 text-center">
                                            <span class="m-badge m-badge--primary m-badge--wide m-badge--rounded">
                                                <strong>Q</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-5" style="word-break: break-all">
                                            <strong>
                                                {{ steps[currentStep].qaSection.map.questionTranslation.text }}
                                            </strong>
                                        </div>
                                        <div class="col-md-5">
                                            <ng-select [disabled]="steps[currentStep].validated" bindLabel="text" style="width: 100%;"
                                                bindValue="questionTranslationId" [items]="steps[currentStep].qts.qts"
                                                [(ngModel)]="steps[currentStep].qts.model">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-1">
                                            <button [disabled]="steps[currentStep].validated" type="button" class="btn btn-primary btn-block"
                                                data-toggle="modal" data-target="#add_question_translation_modal">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div *ngIf="steps && steps[currentStep]" class="row justify-content-between">
                <div class="col-md-3">
                    <button type="button" [disabled]="steps[currentStep].type === 'LANGUAGE' && !steps[currentStep].validated"
                        class="btn btn-primary btn-block" (click)="previous()">Previous</button>
                </div>
                <div class="col-md-3">
                    <button type="button" [disabled]="steps[currentStep].validated" class="btn btn-primary btn-block"
                        (click)="validateStep()">Validate</button>
                </div>
                <div class="col-md-3">
                    <button type="button" [disabled]="steps[currentStep].type === 'LANGUAGE' && !steps[currentStep].validated"
                        class="btn btn-primary btn-block" (click)="next()">Next</button>
                </div>
            </div>
            <div *ngIf="progressBarValue >= 100" class="row align-items-center">
                <div class="col-md-12" style="margin-top: 6px;">
                    <button type="button" class="btn btn-success btn-block" (click)="submit()">Submit Questionnaire
                        Translation</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN: Add Question Translation Modal -->
<div class="modal fade" id="add_question_translation_modal" tabindex="-1" role="dialog" aria-labelledby="addQuestionTranslationModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Add Translation
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addQuestionTranslationForm" (ngSubmit)="addQuestionTranslation()" [formGroup]="addQuestionTranslationFormGroup">
                    <div class="form-group m-form__group">
                        <label for="question-text" class="form-control-label">
                            Text:
                        </label>
                        <textarea class="form-control" id="question-text" formControlName="text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="question-comment" class="form-control-label">
                            Comment:
                        </label>
                        <input type="text" class="form-control" id="question-comment" formControlName="comment">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary" form="addQuestionTranslationForm">
                    Add Question Translation
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END: Add Question Translation Modal-->

<!-- BEGIN: Add Answer Translation Modal -->
<div class="modal fade" id="add_answer_translation_modal" tabindex="-1" role="dialog" aria-labelledby="addAnswerTranslationModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Add Translation
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addAnswerTranslationForm" (ngSubmit)="addAnswerTranslation()" [formGroup]="addAnswerTranslationFormGroup">
                    <div class="form-group m-form__group">
                        <label for="answer-text" class="form-control-label">
                            Text:
                        </label>
                        <textarea class="form-control" id="answer-text" formControlName="text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="answer-comment" class="form-control-label">
                            Comment:
                        </label>
                        <input type="text" class="form-control" id="answer-comment" formControlName="comment">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary" form="addAnswerTranslationForm">
                    Add Answer Translation
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END: Add Question Translation Modal-->